.wrapper {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  top: 25vh;
  bottom: -25vh;

  @media screen and (max-width: 799px) {
    opacity: 0.2;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}
