.imageLoading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.featuredImageContainer {
  border-radius: 7px;
  background: var(--accent-yellow);
  font-size: 0;
  margin-top: 30px;
  overflow: hidden;
}

.featuredImageContainer .featuredImage {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
