@use '../styles/variables.scss' as *;

.image_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  position: relative;
  margin-bottom: 10px;
  font-size: 0;
  overflow: hidden;

  .caption {
    position: absolute;
    color: black;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition-property: opacity, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: $cursorPointer;
  }

  @media (hover: hover) {
    .hovered + .caption {
      opacity: 1;
      background: $blue;
    }
  }
}
