
DASHBOARD_PASSWORD_HASH=
DASHBOARD_SESSION_SECRET=

# S3 credentials
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=us-east-1
S3_BUCKET=rgbjoy.com

CONTACT_FROM=rgbjoy.com contact form <tom@rgbjoy.com>
