@use '../../styles/variables.scss' as *;

.post {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--color-overlay);
  min-height: 100vh;
  transition: background-color 0.3s ease;

  .title {
    margin: $gutter 0 10px;
    color: $yellow;
  }

  .date {
    margin: calc($gutter/2) 0 $gutter;
    font-size: 0.8rem;
    color: $yellow;
    padding-top: 10px;
    border-top: 1px dotted $yellow;
  }

  .content {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    border-bottom: 1px dotted var(--color-text);

    a {
      @include link-hover-effect;
    }
  }

  iframe {
    border: 1px solid var(--color-border);
    border-radius: 7px;
    overflow: hidden;
    border-radius: 0;
    border: none;
    margin-top: -42px;
    scrollbar-width: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
