.notFound {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 18px;
}

.notFound .btn {
  margin-top: 30px;
}
