.editButton {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: inline-block;
  padding: 5px 7px;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 14px;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.editButton:hover {
  color: var(--color-background);
  background-color: var(--color-text);
}
